.projects{
    width:90%;
    min-height:80vh;
    margin:80px auto;
    padding:80px;

    background:rgba(17,24,39,0.6);

    border:1px solid rgba(139,92,246,0.2);

    border-radius:35px;

    backdrop-filter:blur(10px);

    box-shadow:
    0 0 30px rgba(139,92,246,0.08);
}

.projects span{
    color:#8b5cf6;
    letter-spacing:2px;
    font-size:14px;
}

.projects h1{
    margin-top:15px;
    font-size:3rem;
}

.projects-container{
    margin-top:50px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.project-card{
    background:#111827;
    border-radius:20px;
    overflow:hidden;
    transition:0.3s;
    border:1px solid rgba(255,255,255,0.1);
}

.project-card:hover{
    transform:translateY(-10px);
    border-color:#8b5cf6;
}

.project-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.project-card h2{
    padding:20px;
}

.project-card p{
    padding:0 20px 20px;
    color:#cbd5e1;
}